<%- layout('/layouts/boilerplate')%>
<div class="col-12">
    <h2 class="col-12 my-3">All products</h2>
    <a href="/store/new"><button class="border btn btn-success px-1 my-2 py-0 mr-2 my-1">Add new product</button></a>
    <div class="row justify-content-start mb-5">
        <%
            let carr = Object.keys(products).reverse();
            for (let c of carr) {
            product = products[c]
        %> 
            <div class="pCont col-xl-3 col-lg-6 col-md-6 col-sm-6 text-left p-1">
                <div class="card border pContInner row p-2 m-0 h-100">
                    <a class="aPcont m-0 p-0" href="/store/<%=product._id%>">
                        <%try {%>
                            <img src="<%= product.image !== undefined ? product.image : '/img/product.png'%>" class="img-thumbnail card-img-top border rounded">
                        <%} catch {%>
                            <img src="/img/product.png" class="card-img-top border rounded">
                        <%}%>
                    </a>
                    <a class="col-12 card-title pLink m-0 p-0 mt-2" href="/store/<%=product._id%>"><b class="m-0 p-0"><%=product.name%></b></a>
                    <div class="card-text col-12 m-0 my-2">
                        <div id="pDesc">
                            <%=product.description%>
                        </div>
                        <div class="col-12 m-0 my-2">
                            <p class="starability-result m-0" data-rating="<%=product.rating%>">
                            <span class="font-weight-light ml-1">(<%=product.ratings%>)</span>
                        </div>
                        <p class="col-12 m-0 my-2">$<%=product.price%></p>
                    </div>
                    <div class="mt-auto col-12 p-0 m-0">
                        <button name="<%=product._id%>" class="border btn btn-light px-1 py-0 mr-2 my-1">Add to cart</button>
                        <a href="/store/<%=product._id%>"><button href="/store/<%=product._id%>" class="border btn btn-light px-1 py-0 mr-2 my-1">Details</button></a>
                        <%if (typeof currentUser !== "undefined") {if (typeof product.seller !== "undefined") {if (product.seller.equals(currentUser._id)) {%>
                            <a id="pEdit" href="/store/<%=product._id%>/edit"><button class="align-self-end btn btn-primary px-1 py-0 mr-2 my-1">Edit</button></a>
                            <form class="inline-block m-0 p-0" action="/store/<%=product._id%>?_method=DELETE" method="post">
                                <button class="btn btn-light px-1 py-0 mr-2 my-1" type="submit" name="delete" value="delete">Delete</button>
                            </form>
                        <%};};};%>
                    </div>
                </div>
            </div>
        <%};  %> 
    </div>
</div>
<nav class="col-12" aria-label="breadcrumb">
    <ol class="breadcrumb col-12 justify-content-center">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active"  aria-current="page">Store</li>
    </ol>
</nav>