<%- layout('/layouts/boilerplate')%>
<%if (data && data.length > 0) {data = data[0]}%>

<div class="col-md-12 col-lg-11 col-xl-10 mt-3">
    <h2 class="col-12 mb-3">Add product</h2>
    <form class="row justify-content-center" action="/store/new?_method=PUT" method="POST">
        <div class="border rounded col-12 m-1 p-1 py-4">
            <label class="col-6 font-weight-bold" for="name">Product Name</label>
            <textarea class="col-md-6 col-sm-12 text-center" type="text" name="product[name]" id="name" placeholder="product name"><%= typeof data !== 'undefined' ? data.name : ''%></textarea>
            <hr class="w-md-50 w-sm-100">
            <label class="col-md-3 col-sm-5 font-weight-bold" for="price">Price</label>
            <input class="col-md-3 col-sm-5 text-center" type="text" id="price" name="product[price]" placeholder="0" value="<%= typeof data !== 'undefined' ? data.price : ''%>">
            <hr class="w-md-50 w-sm-100">
            <label class="col-md-3 col-sm-5 font-weight-bold" for="stock">Stock</label>
            <input class="col-md-3 col-sm-5 text-center" type="number" id="stock" name="product[stock]" placeholder="0" value="<%= typeof data !== 'undefined' ? data.stock : ''%>">
            <hr class="w-md-50 w-sm-100">
            <label class="col-md-3 col-sm-5 font-weight-bold" for="image">Image</label>
            <input class="col-md-3 col-sm-5 text-center" type="text" id="image" name="product[image]" placeholder="/img/product.png" value="<%= typeof data !== 'undefined' ? data.image : ''%>">
            <label class="col-12" for="description">Description</label>
            <textarea class="col-md-10 col-sm-12 text-center" name="product[description]" id="description" cols="30" rows="10" class="col-12 text-center"><%= typeof data !== 'undefined' ? data.description : ''%></textarea>
        </div>
        <button class="col-6 mb-2 btn btn-primary my-2">Create product</button>
    </form>
    <form class="row justify-content-center" action="/store" method="GET">
        <button class="col-6 my-2 btn btn-danger">Cancel</button>
    </form>
</div>
<nav class="col-12" aria-label="breadcrumb">
    <ol class="breadcrumb col-12 justify-content-center">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/store">Store</a></li>
        <li class="breadcrumb-item active"  aria-current="page">Create product</li>
    </ol>
</nav>