<div class="row m-0">
    <nav class="col-12 navbar navbar-expand-md navbar-light bg-light rounded-top mb-1">
        <!-- Mobile dropdown -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar -->
        <a class="navbar-brand order-first col-4 col-sm-3 col-md-2 col-xl-2" href="/">Brand name</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav align-items-center">
                <li class="nav-item <%= (title == "Home") ? 'border rounded' : ''%>">
                    <a class="nav-link btn" href="/">Home</a>
                </li>
                <li class="nav-item <%= (title == "Store") ? 'border rounded' : ''%>">
                    <a class="nav-link btn" href="/store">Store</a>
                </li>
                <li class="nav-item <%= (title == "Posts") ? 'border rounded' : ''%>">
                    <a class="nav-link btn" href="/post">Posts</a>
                </li>
                <li class="nav-item <%= (title == "Game") ? 'border rounded' : ''%>">
                    <a class="nav-link btn" href="/game">Game</a>
                </li>
                <li class="nav-item <%= (title == "Shows") ? 'border rounded' : ''%>">
                    <a class="nav-link btn" href="/shows">TV search</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/login">Sign in</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Profile</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="btn btn-secondary mx-2" href="/register">Sign Up</a>
                </li>
                <!-- <li class="nav-item">
                    <form class="form-inline my-0">
                        <input class="form-control py-2 col-md-4 col-lg-8" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn ml-2 btn-outline-success" type="submit">Search</button>
                    </form>
                </li> -->
            </ul>
        </div>
    </nav>
</div>